<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Integrador - Contacto</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <header class="main-header">
      <!-- .nav-bar -->

      <div class="search-bar">
        <div class="search-bar__logo-container">
          <a href="../index.html">
            <img
              src="../img/logos/logo-main.webp"
              alt=""
              class="search-bar__logo-container-img"
            />
          </a>
          <a href="../index.html">
            <img
              src="../img/logos/logo-mobile.webp"
              alt=""
              class="search-bar__logo-container-mobile"
            />
          </a>
        </div>
        <input type="checkbox" id="menu" />

        <nav class="nav-bar">
          <ul class="nav-bar__nav-list">
            <li class="nav-bar__nav-item">
              <a href="#" class="nav-bar__nav-link nav-bar__nav-link-selected"
                >Categoria #1</a
              >
            </li>
            <li class="nav-bar__nav-item">
              <a href="#" class="nav-bar__nav-link">Categoria #2</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="#" class="nav-bar__nav-link">Categoria #3</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="#" class="nav-bar__nav-link">Categoria #4</a>
            </li>
          </ul>
        </nav>
        <div class="items-end">
          <form action="#" class="search-bar__form-container">
            <label for="busqueda" class="search-bar__form-label">Buscar</label>
            <input
              type="search"
              class="search-bar__form-search px-15"
              id="busqueda"
              placeholder="Buscar..."
            />
            <input
              type="submit"
              class="search-bar__form-submit material-symbols-outlined text-22"
              value="search"
              title="Buscar"
            />
          </form>
          <div class="search-bar__carrito-container">
            <div class="search-bar__carrito-container-item">
              <span
                class="material-symbols-outlined text-36"
                title="Carrito de compras"
              >
                shopping_basket
              </span>
              <div
                class="search-bar__carrito-container-item-circlePointer circle-xs"
              >
                99+
              </div>
            </div>
            <div class="search-bar__carrito-container-item">
              <span class="material-symbols-outlined text-36" title="Favoritos">
                kid_star
              </span>
              <div
                class="search-bar__carrito-container-item-circlePointer circle-xs"
              >
                99+
              </div>
            </div>
            <a
              href="#"
              class="material-symbols-outlined search-bar__carrito-container-item-profile text-36"
              title="Perfil"
            >
              person
            </a>
            <a
              href="#"
              class="material-symbols-outlined search-bar__carrito-container-item-search text-28"
              title="Buscar"
            >
              search
            </a>
          </div>
        </div>
        <div class="menu-toogle">
          <label for="menu" class="menu-toogle__label">
            <span class="menu-toogle__top-bread"></span>
            <span class="menu-toogle__meat"></span>
            <span class="menu-toogle__bottom-bread"></span>
          </label>
        </div>
      </div>
      <!-- .search-bar -->
    </header>
    <!-- main-header -->
    <main>
      <div
        class="d-flex flex-row align-items-center justify-content-between mt-10"
      >
        <!-- Breadcrumb -->
        <div class="main__breadcrumb">
          <div class="main__breadcrumb-container">
            <a
              href="#"
              class="material-symbols-outlined main__breadcrumb-container-icon text-20 p-0"
            >
              chevron_backward
            </a>
            <a href="../index.html" class="main__breadcrumb-container-item"
              >Inicio</a
            >
            <p>&nbsp; / &nbsp;</p>
            <p class="main__breadcrumb-container-item-selected">Contacto</p>
          </div>
        </div>
      </div>
      <!-- Main content -->
      <section class="contacto">
        <div class="contacto__content">
          <div class="contacto__content-left">
            <div class="contacto__content-left-descripcion">
              <h2>¿EN QUÉ PODEMOS AYUDARTE?</h2>
              <p>
                Te podés comunicar con nosotros de Lunes a Sábado de 9 a 21hrs.
              </p>
              <p>Escribinos por Whatsapp al <a href="#">+54 11 345634121</a></p>
              <p>También puedes contactarnos en nuestras redes sociales:</p>
              <div class="contacto__content-left-descripcion-redes">
                <a
                  href="#"
                  class="contacto__content-left-descripcion-redes-icon"
                  ><i class="fa-brands fa-whatsapp text-24"></i
                ></a>
                <a
                  href="#"
                  class="contacto__content-left-descripcion-redes-icon"
                  ><i class="fa-brands fa-instagram text-24"></i
                ></a>
              </div>
              <h2>¿EN QUÉ PODEMOS AYUDARTE?</h2>
              <div class="contacto__content-left-descripcion-qa">
                <a href="#">¿CUÁNTO TARDARÁ EN LLEGAR MI PEDIDO?</a>
                <a href="#"
                  >¿Qué pasa si mi producto tiene un defecto o no cumple con los
                  estándares de calidad?</a
                >
                <a href="#"
                  >¿Cómo es el proceso de devolución de un pedido en
                  OVERGAMES?</a
                >
                <a href="#"
                  >¿Cómo puedo dar seguimiento a la entrega de mi pedido?</a
                >
              </div>
            </div>
          </div>
          <div class="contacto__content-right">
            <h2>formulario de contacto</h2>
            <form action="" id="form">
              <div
                class="d-flex flex-row flex-md-column align-items-center justify-content-center d-md-block w-100"
              >
                <div class="contacto__content-right-form input">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="input-text mb-5" id="nombre" />
                  <small data-error="nombre-error"></small>
                </div>
                <div class="contacto__content-right-form input ml-30 ml-md-0">
                  <label for="apellido">Apellido</label>
                  <input type="text" class="input-text mb-5" id="apellido" />
                  <small data-error="apellido-error"></small>
                </div>
              </div>
              <div
                class="d-flex flex-row flex-md-column align-items-center justify-content-center d-md-block w-100"
              >
                <div class="contacto__content-right-form input">
                  <label for="email">Correo electrónico</label>
                  <input type="email" class="input-text mb-5" id="email" />
                  <small data-error="email-error"></small>
                </div>
                <div class="contacto__content-right-form input ml-30 ml-md-0">
                  <label for="numPedido">Número de pedido</label>
                  <input type="text" class="input-text mb-5" id="numPedido" />
                  <small data-error="numPedido-error"></small>
                </div>
              </div>
              <div
                class="contacto__content-right-form input w-100 px-15 px-md-0"
              >
                <label for="tipoConsulta">Área de consulta</label>
                <input type="text" class="input-text mb-5" id="tipoConsulta" />
                <small data-error="tipoConsulta-error"></small>
              </div>
              <div class="contacto__content-right-form input px-15 px-md-0">
                <label for="descripContacto"
                  >escribe la razón de contacto</label
                >
                <textarea
                  name="description"
                  id="descripContacto"
                  class="contacto__content-right-form-textarea w-100"
                  rows="10"
                  cols="50"
                  placeholder="Escriba algo aquí..."
                ></textarea>
              </div>
              <button type="submit" class="button mt-10">Enviar</button>
            </form>
          </div>
        </div>
      </section>
      <!-- .section-cards -->
    </main>
    <footer class="footer">
      <div class="footer__description">
        <img
          src="../img/logos/logo-footer.webp"
          alt="logo footer"
          class="footer__description-image"
        />
        <div class="footer__description-item">
          <div class="footer__description-item-title"><p>Ayuda</p></div>
          <div class="footer__description-item-subtitle">
            <a href="#">Contacto</a>
          </div>
        </div>
        <div class="footer__description-item">
          <div class="footer__description-item-title">
            <p>Sobre overgames</p>
          </div>
          <div class="footer__description-item-subtitle">
            <a href="./nosotros.html">¿Quiénes somos?</a>
          </div>
        </div>
        <div class="footer__description-redes">
          <a href="#" class="footer__description-redes-icon"
            ><i class="fa-brands fa-whatsapp fa-2x"></i
          ></a>
          <a href="#" class="footer__description-redes-icon"
            ><i class="fa-brands fa-instagram fa-2x"></i
          ></a>
        </div>
      </div>
    </footer>
    <!-- footer -->
    <script type="module" src="/main.js"></script>
  </body>
</html>
