<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Integrador - Nosotros</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <header class="main-header">
      <!-- .nav-bar -->

      <div class="search-bar">
        <div class="search-bar__logo-container">
          <a href="../index.html">
            <img
              src="../img/logos/logo-main.webp"
              alt=""
              class="search-bar__logo-container-img"
            />
          </a>
          <a href="../index.html">
            <img
              src="../img/logos/logo-mobile.webp"
              alt=""
              class="search-bar__logo-container-mobile"
            />
          </a>
        </div>
        <input type="checkbox" id="menu" />

        <nav class="nav-bar">
          <ul class="nav-bar__nav-list">
            <li class="nav-bar__nav-item">
              <a href="#" class="nav-bar__nav-link nav-bar__nav-link-selected"
                >Categoria #1</a
              >
            </li>
            <li class="nav-bar__nav-item">
              <a href="#" class="nav-bar__nav-link">Categoria #2</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="#" class="nav-bar__nav-link">Categoria #3</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="#" class="nav-bar__nav-link">Categoria #4</a>
            </li>
          </ul>
        </nav>
        <div class="items-end">
          <form action="#" class="search-bar__form-container">
            <label for="busqueda" class="search-bar__form-label">Buscar</label>
            <input
              type="search"
              class="search-bar__form-search px-15"
              id="busqueda"
              placeholder="Buscar..."
            />
            <input
              type="submit"
              class="search-bar__form-submit material-symbols-outlined text-22"
              value="search"
              title="Buscar"
            />
          </form>
          <div class="search-bar__carrito-container">
            <div class="search-bar__carrito-container-item">
              <span
                class="material-symbols-outlined text-36"
                title="Carrito de compras"
              >
                shopping_basket
              </span>
              <div
                class="search-bar__carrito-container-item-circlePointer circle-xs"
              >
                99+
              </div>
            </div>
            <div class="search-bar__carrito-container-item">
              <span class="material-symbols-outlined text-36" title="Favoritos">
                kid_star
              </span>
              <div
                class="search-bar__carrito-container-item-circlePointer circle-xs"
              >
                99+
              </div>
            </div>
            <a
              href="#"
              class="material-symbols-outlined search-bar__carrito-container-item-profile text-36"
              title="Perfil"
            >
              person
            </a>
            <a
              href="#"
              class="material-symbols-outlined search-bar__carrito-container-item-search text-28"
              title="Buscar"
            >
              search
            </a>
          </div>
        </div>
        <div class="menu-toogle">
          <label for="menu" class="menu-toogle__label">
            <span class="menu-toogle__top-bread"></span>
            <span class="menu-toogle__meat"></span>
            <span class="menu-toogle__bottom-bread"></span>
          </label>
        </div>
      </div>
      <!-- .search-bar -->
    </header>
    <!-- main-header -->
    <main>
      <div
        class="d-flex flex-row align-items-center justify-content-between mt-10"
      >
        <!-- Breadcrumb -->
        <div class="main__breadcrumb">
          <div class="main__breadcrumb-container">
            <a
              href="#"
              class="material-symbols-outlined main__breadcrumb-container-icon text-20 p-0"
            >
              chevron_backward
            </a>
            <a href="../index.html" class="main__breadcrumb-container-item"
              >Inicio</a
            >
            <p>&nbsp; / &nbsp;</p>
            <p class="main__breadcrumb-container-item-selected">Nosotros</p>
          </div>
        </div>
      </div>
      <!-- Main content -->
      <section class="nosotros">
        <div class="nosotros__content">
          <div class="nosotros__content-left">
            <div class="nosotros__content-left-descripcion">
              <h2 class="mt-10 mt-md-0">Bienvenidos a OverGames</h2>
              <p>
                En OverGames somos apasionados por los videojuegos y nos
                dedicamos a ofrecerte la mejor experiencia de compra para todos
                tus títulos favoritos. Nuestra misión es llevarte los últimos
                lanzamientos, los clásicos atemporales y todo lo que necesitas
                para disfrutar al máximo de tus videojuegos.
              </p>
              <h2>¿Quiénes Somos?</h2>
              <p>
                Somos una empresa especializada en la venta de videojuegos para
                diversas plataformas. Desde los juegos más populares hasta
                aquellos que son joyas ocultas, nos aseguramos de tener algo
                para cada tipo de jugador. Nos enorgullece ofrecer un catálogo
                extenso y variado que incluye títulos de todas las épocas y
                géneros.
              </p>
              <h2>¿Quiénes Somos?</h2>
              <ul>
                <li>Teléfono: <a href="#">+54 11 34563421</a></li>
                <li>Correo Electrónico: overgames@gmail.com</li>
                <li>WhatsApp: <a href="#">+54 11 34563421</a></li>
                <li>Redes Sociales: Síguenos en <a href="#">Instagram</a></li>
              </ul>
            </div>
          </div>
          <div class="nosotros__content-right">
            <h2 class="mt-10">NUESTRA HISTORIA</h2>
            <p>
              Fundada en 2024, OverGames comenzó con personas apasionados por
              los videojuegos. Con el tiempo, hemos crecido hasta convertirnos
              en una referencia en el mercado, siempre manteniendo nuestro
              compromiso con la calidad y la satisfacción del cliente.
            </p>
            <h2>NUESTRA Misión</h2>
            <p>
              Nuestra misión es ofrecer una experiencia de compra sencilla y
              agradable, con un catálogo amplio y actualizado, precios
              competitivos y un servicio al cliente excepcional. Queremos ser tu
              tienda de confianza para todas tus necesidades relacionadas con
              videojuegos.
            </p>
            <div class="d-flex w-100 justify-content-end h-100 align-items-end">
              <img
                src="../img/logos/logo-mobile.webp"
                alt=""
                width="55px"
                height="55px"
              />
            </div>
          </div>
        </div>
      </section>
      <!-- .section-cards -->
    </main>
    <footer class="footer">
      <div class="footer__description">
        <img
          src="../img/logos/logo-footer.webp"
          alt="logo footer"
          class="footer__description-image"
        />
        <div class="footer__description-item">
          <div class="footer__description-item-title"><p>Ayuda</p></div>
          <div class="footer__description-item-subtitle">
            <a href="./contacto.html">Contacto</a>
          </div>
        </div>
        <div class="footer__description-item">
          <div class="footer__description-item-title">
            <p>Sobre overgames</p>
          </div>
          <div class="footer__description-item-subtitle">
            <a href="#">¿Quiénes somos?</a>
          </div>
        </div>
        <div class="footer__description-redes">
          <a href="#" class="footer__description-redes-icon"
            ><i class="fa-brands fa-whatsapp fa-2x"></i
          ></a>
          <a href="#" class="footer__description-redes-icon"
            ><i class="fa-brands fa-instagram fa-2x"></i
          ></a>
        </div>
      </div>
    </footer>
    <!-- footer -->
    <script type="module" src="/main.js"></script>
  </body>
</html>
