.card {
  width: 340px;
  max-width: 340px;
  height: 330px;
  background-color: var(--bs-terciary);
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  color: var(--text-main);
  //box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset rgba($color: #000000, $alpha: 0.1) 2px 0px 6.2px,
    inset rgba($color: #000000, $alpha: 0.1) -4px 0px 6.2px,
    rgba($color: #000000, $alpha: 0.5) 0px 4px 4px,
    rgba($color: #000000, $alpha: 0.5) 2px 0px 3px,
    rgba($color: #000000, $alpha: 0.5) -2px 0px 3px;
  transition: all 0.2s; /* ! No puede ser all, tengo que poner la propiedad que voy a animar */

  @media (max-width: 768px) {
    & {
      padding: 0px !important;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  &__article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 768px) {
      & {
        flex-direction: row;
      }
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover; // parecido al background-size. Necesito un height:100% para funcionar
  }

  &__image-container {
    height: 270px;
    background-color: blue;
    overflow: hidden; // Hace que la imagen no sobresalga de su contenedor
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    @media (max-width: 768px) {
      & {
        width: 100% !important;
      }
    }
  }

  &__content {
    height: 380px;
    margin-top: 20px;
    border: 1px solid rgba($color: #211a21, $alpha: 0.25);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: inset rgba($color: #000000, $alpha: 0.1) 4px 0px 4px,
      inset rgba($color: #000000, $alpha: 0.1) -4px 0px 4px,
      inset rgba($color: #000000, $alpha: 0.2) 0px 7px 4px;
    @media (max-width: 768px) {
      & {
        height: 150px;
        padding: 0px !important;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0px;
        margin-left: 20px;
        width: 100%;
      }
    }
  }
  &__description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    height: 130px;
    @media (max-width: 768px) {
      & {
        height: 70%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }
    }
    h3 {
      font-size: 1.5rem;
      font-weight: 700;
      @media (max-width: 768px) {
        & {
          font-size: 1rem;
        }
      }
    }
  }
  &__title {
    @media (max-width: 768px) {
      & {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    &-content {
      font-size: 0.87rem;
      @media (max-width: 768px) {
        & {
          font-size: 0.6rem;
        }
      }
    }
    &-subtitle {
      font-size: 0.87rem;
      margin-top: 10px;
      @media (max-width: 768px) {
        & {
          font-size: 0.6rem;
          margin: 0px;
        }
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &-letter {
      font-size: 1.5rem;
      color: white;
      @media (max-width: 768px) {
        & {
          display: none;
        }
      }
    }
    &-box {
      width: 220px;
      height: 40px;
      background-color: var(--bs-white);
      border-radius: 30px;
      padding: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      //box-shadow: inset rgba($color: #000000, $alpha: 0.25) 0px 4px 4px;
      @media (max-width: 768px) {
        & {
          width: 75%;
        }
      }
      &-btn-fav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: var(--bs-primary);
        box-shadow: -2px 1px 4px 0px rgba($color: #000000, $alpha: 0.25);
        &:hover {
          background-color: #f74755;
          box-shadow: 0px 0px 8px 3px rgba($color: #000000, $alpha: 0.25);
        }
        &.active {
          background-color: var(--bs-danger);
          & > span {
            color: var(--bs-fav);
          }
        }
      }
      &-btn-addCart {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: var(--bs-secondary);
        box-shadow: -2px 1px 4px 0px rgba($color: #000000, $alpha: 0.25);
        & > span:nth-child(2) {
          display: none;
        }
        &:hover {
          background-color: #00b98b;
          box-shadow: 0px 0px 8px 3px rgba($color: #000000, $alpha: 0.25);
        }
        &.active {
          background-color: var(--bs-success);
          & > span:nth-child(1) {
            display: none;
          }
          & > span:nth-child(2) {
            display: block;
          }
        }
      }
    }
  }

  /* ----------------------------------------- */

  @media (max-width: 768px) {
    & {
      /* .card */
      min-width: 100%;
      max-width: 100%;
      height: 200px;
    }

    &__article {
      /* .card__ar */
      display: flex;
    }
    & &__image-container {
      /*  .card .card__image-container */
      width: 40%;
    }

    &:hover &__image-container,
    &:focus &__image-container {
      width: 40%;
    }
  }
}
